body {
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.manu-bg {
  background: linear-gradient(to right, #233942 50%, #0d0f11 50%);
}
.container-manu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 120px;
  backdrop-filter: blur(15px);
}
.manu-list {
  display: flex;
  flex-direction: row;
  gap: 60px;
}
/* section-1 */
.section-one {
  background: linear-gradient(to right, #233942 50%, #0d0f11 50%);
  max-height: 924px;
}
.container-section-one {
  background-image: url(/images/noah-PhotoRoom.png);
  box-shadow: 7px 8px 27px 0px rgba(0, 0, 0, 0.1);
  background-position-x: center;
  background-position-y: bottom;
  background-size: 920px 800px;
  background-repeat: no-repeat;
  padding-top: 100px;
  display: flex;
  
}
@media (min-resolution: 192dpi) {
  .container-section-one {
    background-image: url(/images/noah-PhotoRoom2x.png);
  }
}
